@keyframes message-move-in
  0%
    opacity 0
    transform translateY(-100%)

  100%
    opacity 1
    transform translateY(0)

@keyframes message-move-out
  0%
    opacity 1
    transform translateY(0)

  100%
    opacity 0
    transform translateY(-100%)

#message-container
  position fixed
  top 5rem
  left 0
  right 0
  z-index 100
  text-align center
  display flex
  display -webkit-flex
  flex-flow column nowrap
  align-items center

  .message
    display flex
    display -webkit-flex
    align-items center
    padding 0.6rem 1rem
    border-radius 3px
    box-shadow var(--box-shadow, 0 0 10px 0 #bbb)
    background var(--background-color-sub, #fff)
    color var(--text-color, #333)
    font-size 1.1rem

    &.move-in
      animation message-move-in 0.3s ease-in-out

    &.move-out
      animation message-move-out 0.3s ease-in-out
      animation-fill-mode forwards

    svg
      margin-right 5px
      width 20px
